
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Course List</h2>

<table class="table table-bordered">
    <tr>
        <th></th>
        <th>#</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Credit</th>
        <th>Course Type</th>

    </tr>

    <tr>
        <td class="checkbox-inline"></td>
        <td>1</td>
        <td>BBM382</td>
        <td>Software Engineering</td>
        <td>6</td>
        <td>Mandatory</td>
    </tr>

    <tr>
        <td class="checkbox-inline"></td>
        <td>2</td>
        <td>BBM201</td>
        <td>Data Structures</td>
        <td>5</td>
        <td>Mandatory</td>
    </tr>

</table>
<button class="btn-danger"> Add Course </button>
<button class="btn-default"> Delete Selected Course  </button>
